<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<% if session[:user] && User.find(session[:user]).activated == true %>
<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<% else %>
check your email
<% end %>